#table1 tr td{
    border: 1px solid green;
    width: 90px;
    height: 30px;
    text-align: center;
    padding: 5px;
    
}
#table1{
    border-collapse: collapse;
}
img{
    float: left;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}

    

